<!-- Navigation -->
<nav class="nav">
    <div class="nav-container">
        <a href="/" class="logo-link">
            <img src="images/LLP_Logo_Stacked.svg" alt="LLP Events Logo" class="logo-image">
        </a>
        <div class="nav-links">
            <a href="/#shows">SHOWS</a>
            <a href="/#about">ABOUT</a>
            <a href="/#contact">CONTACT</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScbNnu_XmfKOQ5eOjW_uxrxUKiG35pSHufyXnfEf8B1ejQn-A/viewform?usp=header" target="_blank" rel="noopener noreferrer">APPLY</a>
        </div>
    </div>
</nav>
